
<div class="sidenav list-group" id='side-ite'>
<span class="text-dark ml-2"> GRADE 7-9 STUDENT</span>

<%= link_to "Number Systems", mathematics_index_path, class: "#{current? "active", mathematics_index_path}"  %>
<%= link_to "Page1", mathematics_page1_path, class: "#{current? "active", mathematics_page1_path}"%>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>



  
</div>


  
