
<div class="main">

<div class='container-fluid'>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'> <b>Mathematics</b></h3>
</div>

<h2>Sidenav Example</h2>
<p>This sidenav is always shown.</p>
</div>


  
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>
