<div class="main">
<div class='container-fluid med'>

<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Change of Subject of the Formulae</h1>
</div>
<hr>
<article>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Formulae and Substitution</h2>
</div>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Formulae</h3>
</div>
A <strong>formula</strong> is an equation with letters that stand for quantities. <strong>Formulae</strong> is the plural formula e.g. 
<br>
<strong>V = IR;</strong> this shows relationship between voltage (<strong>V</strong>), current (<strong>I</strong>) and the resistance (<strong>R</strong>).<strong> S = <sup>d</sup>&frasl;<sub>t</sub>;</strong>
Speed (<strong>S</strong>) is the distance (<strong>d</strong>) moved per time (<strong>t</strong>).
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Substitution</h3>
</div>
<strong>Substitution</strong> is the process of replacing the letters in a formula by their values. It helps in calculating other value(s) in the equation or formula.

<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
    <br>
    The formula P = mgh gives the potential energy (P) in joules of a body. Using this formula; calculate the potential energy (P) of a lorry with the total mass of 50kg moving up the hill of height (h) 5m. (Take g = 10m/s2)
    <br>
    <strong>Solution</strong>
    <br>
    P = mgh; m = 50kg, g = 10m/s2 and h = 5m
    <br>
    P = 50 x 10 x 5
    <br>
    P = <strong>2500J</strong>
    
    </div>
    <div class="col">
    <strong>Example 2</strong>
    <br>
    The formula S = <sup>d</sup>&frasl;<sub>t</sub> gives the speed (S) of carat distance (d) in metres and time (t) in seconds. Find; (i) the speed when a car travels 60m in 15s (ii) the time, when the speed is 80m/s and the distance is 400m.
    <br>
    <strong>Solution</strong>
    <br>
    (i) S = <sup>d</sup>&frasl;<sub>t</sub> ; S = ?, d = 60m and t = 15s.
    <br>
    S = <sup>60</sup>&frasl;<sub>15</sub>= <strong>4m/s</strong>
    <br>
    <br>
    (ii) S = <sup>d</sup>&frasl;<sub>t</sub>; S = 80m/s, d = 400m and t = ?.
    <br>
    80 = <sup>400</sup>&frasl;<sub>t</sub>
    <br>
    80/1  = <sup>400</sup>&frasl;<sub>t</sub multiply both sides by t
    <br>
    t(<sup>800</sup>&frasl;<sub>1</sub>) = t(<sup>400</sup>&frasl;<sub>t</sub>)
    <br>
    80t = 400; divide both sides by 80.
    <br>
    <sup>80t</sup>&frasl;<sub>80</sub> = <sup>400</sup>&frasl;<sub>80</sub>
    <br>
    t = <strong>5seconds</strong>
    </div>
  </div>
  </div>
<br>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 3</strong>
    <br>
    The formula or voltage (V) is; V = IR I is the current and R is the resistance. Find; (i) the current when voltage is 200volts and the resistance is 50ohms. 
    <br>
    (ii) the total voltage when the current is 1.2amps and the resistance is 5ohms.
    <br>
    <strong>Solution</strong>
    <br>
    (i) V = IR; <strong>V</strong> = 200volts, <strong>R</strong> = 50ohms and <strong>I</strong> =?
    <br>
    200 = I x 50 divide both sides by 50
    <br>
    <sup>200</sup>&frasl;<sub>50</sub> = <sup>(I x 50)</sup>&frasl;<sub>50</sub>
    <br>
    I = <sup>200</sup>&frasl;<sub>50</sub>
    <br>
    I = 4amps
    <br>
    The current = <strong>4amps</strong>
    <br>
    <br>
    (ii) V = IR; I = 1.2amps, R = 50ohms and V=?
    <br>
    V = 1.2 x 5
    <br>
    V = 6volts>
    <br>
    The total voltage = <strong>6volts</strong>
    </div>
    <div class="col">
    <strong>Example 4</strong>
    <br>
	(i) If y = 4x + 2; find y when x = 1 
    <br>
	(ii) If y = 4x<sup>2</sup> – 2; (a) find the value of y when x = –4 (b) find the value of x when y = 14. 
    <br> 
<strong>Solution</strong>
<br>
(i) y = 4x + 2 when x = 1, y =?
<br>
y = 4(1) + 2
<br>
y = 4 + 2 
<br>
y = <strong> 6 </strong>
<br>
<br>
(ii) y = 4x<sup>2</sup> – 2; when x = –4, y =?
<br>
y = 4(–4)<sup>2</sup> – 2 
<br>
y = 4 x 16 – 2 
<br>
y = 64 – 2 
<br>
y = <strong>62</strong>
<br>
y = 4x<sup>2</sup> – 2; when y = 14, x =?
<br>
14 = 4x<sup>2</sup> – 2 
<br>
4x<sup>2</sup> = 14 + 2
<br>
4x<sup>2</sup> = 16; divide both sides by 4
<br>
x<sup>2</sup> = 4; find the square root of both sides
<br>
√ x<sup>2</sup> = √4 
<br>
x = <strong>+2</strong> or <strong>–2</strong>
<br>
The same as; <strong>x ± 2</strong>
<br>
<strong>Note: when you use square root, the result is always + or – i.e. ± </strong>
</div>
</div>
</div>
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Forming Table of Values with Substitution</h3>
</div>
This involves splitting of the terms into a table and then evaluate after substitution. 
<br>
<strong>Example 1</strong>
<br>
If y = 3x – 4 find the value of y when x = –2, –1, 0, 1, 2, 3
<br>
<strong>Solution</strong>
<table class="table table-bordered">
<strong>Table 1.5</strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">x</th>
      <th scope="col" class="text-center">–2</th>
      <th scope="col" class="text-center">–1</th>
      <th scope="col" class="text-center">0</th>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">3x</td>
      <td class="text-center">–6</td>
      <td class="text-center">–3</td>
      <td class="text-center">0</td>
      <td class="text-center">3</td>
      <td class="text-center">6</td>
      <td class="text-center">9</td>
      </tr>

    <tr>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center">–4</th>
      <th scope="col" class="text-center" >–4</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">y</td>
      <td class="text-center">–10</td>
      <td class="text-center">–7</td>
      <td class="text-center">–4</td>
      <td class="text-center">–1</td>
      <td class="text-center">2</td>
      <td class="text-center">5</td>
      </tr>
    <tbody>
    </table>
    <div class="d-flex justify-content-center">
    <h3 class='text-dark justify-content-center'>Change of Subject of Formulae</h3>
    </div>
    <strong>Change of subject</strong> of a <strong>formula</strong> is the rearrangement of the letters in the formula so that one of the other letters becomes the subject of the formula. 
<br>
<br>
<strong>Steps to change the subject of a formula;</strong>
<br>
(i)	Start by clearing the fractions, brackets and square root sign.
<br>
(ii) Reorder or rearrange the resulting equation so that all the terms that contain the subject are on one side and the rest are on the other side of the equation.
<br>
(iii) Simplify the side containing the desired subject until it remains as a single term.
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
    <br>
    Make h the subject of the formula in S = <sup>1</sup>&frasl;<sub>2</sub>n(a + h)
    <br>
    <strong>Solution</strong>
    <br>
    S = <sup>1</sup>&frasl;<sub>2</sub>n(a + h); multiply both sides by 2
    <br>
    2 x S = 2 x   <sup>1</sup>&frasl;<sub>2</sub>n(a + h)
    <br>
    2S = n(a + h); divide both sides by n
    <br>
    <sup>2S</sup>&frasl;<sub>n</sub> = <sup>n(a + h)</sup>&frasl;<sub>n</sub>
    <br>
    a + h = <sup>2S</sup>&frasl;<sub>n</sub>; subtract a from both sides
    <br>
    a – a + h = <sup>2S</sup>&frasl;<sub>n</sub> – a
    <br>
    h = <sup>2S</sup>&frasl;<sub>n</sub> – a
    <br>
<strong>h =  2<sup>S</sup>&frasl;<sub>n</sub> – a</strong>
    <br>
    </div>
    <div class="col">
    <strong>Example 2</strong>
    <br>
Given V = <sup>1</sup>&frasl;<sub>3</sub> πr<sup>2</sup>h express r in terms of V, π and h.
<br>
<strong>Solution</strong>
<br>
V = <sup>1</sup>&frasl;<sub>3</sub> πr<sup>2</sup>h; multiply both sides by 3.
<br>
3 x V = 3 x <sup>1</sup>&frasl;<sub>3</sub> πr<sup>2</sup>h
<br>
3V =  πr<sup>2</sup>h; multiply both sides by 𝝅h
<br>
r<sup>2</sup>  = <sup>3v</sup>&frasl;<sub>πh</sub>; take the square root of both sides.
<br>
√ r<sup>2</sup> = √<sup>3v</sup>&frasl;<sub>πh</sub>
<br>
<strong>r = √<sup>3v</sup>&frasl;<sub>πh</sub></strong>
</div>
  </div>
  </div>
  <br>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
<strong>Example 3</strong>
<br>
Make k the subject of the formula in S = 2𝝅r(r + k)
<br>
<strong>Solution</strong>
<br>
S = 2𝝅r(r + k); divide both sides by 2𝝅r 
<br>
<sup>S</sup>&frasl;<sub>2πr</sub> = <sup>2πr(r+k)</sup>&frasl;<sub>2πr</sub>
<br>
<sup>S</sup>&frasl;<sub>2πr</sub>= r + k; subtract r from both sides
<br>
<sup>S</sup>&frasl;<sub>2πr</sub> – r = r – r + k
<br>
<strong>k = <sup>S</sup>&frasl;<sub>2πr</sub> ─ r</strong>
<br>
 </div>
<div class="col">
<strong>Example 4</strong>
<br>
Make f the subject of the formula <sup>1</sup>&frasl;<sub>f</sub> = <sup>1</sup>&frasl;<sub>v</sub> + <sup>1</sup>&frasl;<sub>u</sub>
<br>
<strong>Solution</strong>
<br>
<sup>1</sup>&frasl;<sub>f</sub>= <sup>1</sup>&frasl;<sub>v</sub> + <sup>1</sup>&frasl;<sub>u</sub>; LCM is fvu, multiply both sides by the LCM.
<br>
Fvu(<sup>1</sup>&frasl;<sub>f</sub>) = fvu(<sup>1</sup>&frasl;<sub>v</sub>) + fvu( <sup>1</sup>&frasl;<sub>u</sub>)
<br>
vu(1) = fu(1) + fv(1)
<br>
vu = fu + fv; factorize f.
<br>
f(u + v) = vu; divide the both sides by (u + v)
<br>
<sup>f(v + u)</sup>&frasl;<sub>(u + v)</sub> = <sup>vu</sup>&frasl;<sub> (u + v)</sub>
<br>
<strong>f = <sup>vu</sup>&frasl;<sub>(u + v)</sub></strong>
<br>
</div>
</div>
</div>







</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Change of Subject of the Formulae</strong> knowledge with these Objective Questions.</h5>
</div>
<article>
<div class='obj-cont' >
  <h6>1. Find the cost c in dollars when the number of students n is 6 using c = 100n + 500.</h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='$2000' id='option-11' style='transform: scale(1.2)'  />
      $2000</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='$1100' id='option-12' style='transform: scale(1.2)' />
      $1100</label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='$1000' id='option-13' style='transform: scale(1.2)' />
      $1000</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='$900' id='option-14' style='transform: scale(1.2)' />
      $900</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2. y = 8x<sup>2</sup> + x – 7. What is the value of y when x = 2.</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='27' id='option-21' style='transform: scale(1.2)'  />
     27</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='-7' id='option-22' style='transform: scale(1.2)' />
      -7</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='2' id='option-23' style='transform: scale(1.2)' />
      2</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='24' id='option-24' style='transform: scale(1.2)' />
     24</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid red'
      document.getElementById('result-23').style.color = 'red'
      document.getElementById('result-23').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-21').style.border = '3px solid limegreen'
      document.getElementById('result-21').style.color = 'limegreen'
      document.getElementById('result-21').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	Make u the subject of the formula in v = u + at</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='v + at' id='option-31' style='transform: scale(1.2)'  />
      v + at</label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='vat' id='option-32' style='transform: scale(1.2)' />
      vat</label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='v ─ at' id='option-33' style='transform: scale(1.2)' />
      v ─ at</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='<sup>v</sup>&frasl;<sub>-at</sub>' id='option-34' style='transform: scale(1.2)' />
      <sup>v</sup>&frasl;<sub>at</sub></label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid limegreen'
      document.getElementById('result-33').style.color = 'limegreen'
      document.getElementById('result-33').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-33').style.border = '3px solid limegreen'
      document.getElementById('result-33').style.color = 'limegreen'
      document.getElementById('result-33').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4. 	What is the square root of k<sup>2</sup>y<sup>2</sup></h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='ky' id='option-41' style='transform: scale(1.2)'  />
      ky</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='k<sup>4</sup>y<sup>4</sup>' id='option-42' style='transform: scale(1.2)' />
      k<sup>4</sup>y<sup>4</sup></label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='k<sup>2</sup>y' id='option-43' style='transform: scale(1.2)' />
      k<sup>2</sup>y</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='y<sup>2</sup>k' id='option-44' style='transform: scale(1.2)' />
      y<sup>2</sup>k</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 'red'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", page8_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page10_path, class:'h3' %>
</button>
</nav>

</div>
<hr>
<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>
