<div class="main">
<p>Find me in app/views/mathematics/page1.html.erb</p>
<div class='container-fluid'>
<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'> <b>Mathematics</b></h1>
</div>

<h2>Page One</h2>
<p>This is another page shown.</p>
</div>


  
<%= render 'layouts/footer' %>
</div>



<%= render 'mathematics/sidebar'%>