<div class="main">
<div class='container-fluid'>

<div class="d-flex justify-content-center mt-3">
<h1 class='text-dark justify-content-center'>Proportion, Reciprocal, Ratio and Rate</h1>
</div>
<hr>
<article>
<p>
<div class="d-flex justify-content-center mt-3">
<h2 class='text-dark justify-content-center'>Proportion</h2>
</div>
<strong>Proportion</strong> is a mathematical system of showing how one part is related to another part or to a whole part with respect to the quantity. There are two type of proportion in mathematics;
<br> 
<strong>(i) Direct Proportion </strong> 
<br>
<strong>(ii) Indirect Proportion.</strong>
<br>
In proportion, it is important to use value of one unit to solve the problem (<strong>Unitary Method</strong>).
<div class="d-flex justify-content-center mt-3">
<h3 class='text-dark justify-content-center'>Direct Proportion</h3>
</div>
<strong>Direct proportion</strong> refers to when one quantity increases, the other quantity also increases or when one quantity decreases the other quantity also decreases.
<div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1 </strong>
    <br>
    A worker earns $1200 for working for 16hours. Calculate the payment for (i) 8 hours (ii) 18 hours.
    <br>
    <strong>Solution</strong> 
    <br>
    Payment for 1 hour = <sup>1200</sup>&frasl;<sub>16</sub> =  <strong>$75</strong>
    <br>
    Working for 8 hours;
    <br>
    8 x $75 = <strong>$600</strong>
    <br>
    Working for 18 hours;
    <br>
    18 x $75 = <strong>$1350</strong>
    <br>
    I.e. it is a <strong>direct proportion</strong>, because the more hours you work, the more money you make.
    </div>
    <div class="col">
    <strong>Example 2</strong>
    <br>
    It cost $ 624 to buy 12 phones, what will it cost to buy 30 of such phones.
    <br>
    <strong>Solution</strong>
    <br>
    Cost of one phone = <sup>624</sup>&frasl;<sub>12</sub> = $52
    <br>
    30 caps to will cost = $ 52 x 30 = <strong>$1560</strong>
    <br>
    I.e. it is a <strong>direct proportion</strong>, because the more phones you buy, the more money you pay.
    </div>
  </div>
  </div>
  
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Direct Proportion Using Table </h3>
  </div>
<table class="table table-bordered">
  <strong>Table 1.3 </strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">Time (h)</th>
      <th scope="col" class="text-center">1</th>
      <th scope="col" class="text-center">2</th>
      <th scope="col" class="text-center">3</th>
      <th scope="col" class="text-center">4</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center" >6</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Distance (km)</td>
      <td class="text-center">2</td>
      <td class="text-center">4</td>
      <td class="text-center">6</td>
      <td class="text-center">8</td>
      <td class="text-center">10</td>
      <td class="text-center">12</td>
      </tr>
    <tbody>
    </table>
    <strong>Example 1</strong>
    <br>
    Using the table above; Calculate the distance covered in 4.5 hours.
    <br>
    <strong>Solution</strong>
    <br>
    Pick any relationship from the table 1.3;
    <br>
    Let the distance = xkm
    <br>
    <sup>4.5</sup>&frasl;<sub>3</sub> = <sup>xkm</sup>&frasl;<sub>6</sub>
    <br>
    xkm = <sup>(4.5 x 6)</sup>&frasl;<sub>3</sub> = <sup>27</sup>&frasl;<sub>3</sub>
    <br>
    <strong>= 9km </strong>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'>Inverse Proportion </h3>
  </div>
  <strong>Inverse proportion</strong> refers to a relationship where one quantity increases as the other quantity decreases vice versa. Inverse proportion is also known as <strong>Indirect Proportion.</strong>
  <br>
  <strong>Example 1</strong>
  <br>
  8 men completed clearing a piece of land in 5days. How long will it take 5 men?
  <br>
  <strong>Solution</strong>
  <br>
  One man will complete the job in 8 x 5 days = <strong>40 days</strong>
  <br>
  5 men will spend = 40 ÷ 5days = <sup>40</sup>&frasl;<sub>5</sub> = <strong>8 days.</strong>
  <br>	
  <strong>Note:</strong> the lesser the number of men, the higher the number of days and the higher the number of men, the lesser the number of days.
  <br>
  <strong>Example 2 </strong>
  <br>
  If it takes 12 planters 8 days to plant 75 mango trees, how long will it take 16 planters to plant the same number of mango tree?
  <br>
  <strong>Solution</strong>
  <br>
  One planter will spend = 12 x 8 = 96 days
  <br>
  16 planters will use = <sup>96</sup>&frasl;<sub>16</sub> = <strong>6 days</strong>
  <br>
  <strong>Example 3</strong>
  <br>
  It can take 20 students 6 days to finish one bag of rice. How many days will it take 15 students to finish one bag?
  <br>
  <strong>Solution</strong>
  <br>
  Days for one student to finish one bag = 20 x 6 = 120 days
  <br>
  15 students will finish it in = <sup>120</sup>&frasl;<sub>15</sub> = <strong>8 days</strong>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'> Inverse Proportion Using Table  </h3>
  </div>
  <table class="table table-bordered">
  <strong>Table 1.4 </strong>
  <thead>
    <tr>
      <th scope="col" class="text-center">Speed (km/h)</th>
      <th scope="col" class="text-center">5</th>
      <th scope="col" class="text-center">10</th>
      <th scope="col" class="text-center">15</th>
      <th scope="col" class="text-center">20</th>
      <th scope="col" class="text-center">25</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Time (h)</td>
      <td class="text-center">10</td>
      <td class="text-center">8</td>
      <td class="text-center">6</td>
      <td class="text-center">4</td>
      <td class="text-center">2</td>
      </tr>
    <tbody>
    </table>
    <strong>Example 4 </strong>
    <br>
    Using the table 1.4 above; Calculate (i) the speed when the time is 5 hours (ii) distance covered in 5 hours.
    <br>
    <strong>Solution</strong>
    <br>
    Pick any relationship you like from the table 1.4
    <br>
    Let speed = x
    <br>
    <sup>x</sup>&frasl;<sub>15</sub>  =   <sup>5</sup>&frasl;<sub>6</sub> <strong> Cross Multiplied </strong>
    <br>
    x = <sup>(15 x  5)</sup>&frasl;<sub>6</sub>
    <br>
     = <sup>75</sup>&frasl;<sub>6</sub>
    <br>
      =  <strong>12.5km/h</strong> 
      <div class="d-flex justify-content-center mt-3">
      <h3 class='text-dark justify-content-center'> Reciprocal  </h3>
      </div>
   <strong>Reciprocal</strong> of any number is its multiplication inverse. 
   <br> 
   <strong>Example 1</strong>
   <br>
   Find the reciprocal of the following numbers (a) 2 (b) <sup>2</sup>&frasl;<sub>3</sub> (c) 0.02 (d) <sup>41</sup>&frasl;<sub>2</sub>
   <br>
   <strong>Solution</strong>
   <br>
   (a) Reciprocal of 2 = <sup>1</sup>&frasl;<sub>2</sub> = 0.5
   <br>
   (b) Reciprocal of <sup>2</sup>&frasl;<sub>3</sub>  =  <sup>1</sup>&frasl;<sub><sup>2</sup>&frasl;<sub>3</sub></sub> = <sup>1</sup>&frasl;<sub>1</sub> ÷ <sup>2</sup>&frasl;<sub>3</sub> = <sup>1</sup>&frasl;<sub>1</sub> x <sup>3</sup>&frasl;<sub>2</sub> = <sup>3</sup>&frasl;<sub>2</sub> = 1.5
   <br>
   (c) Reciprocal of 0.02 = <sup>1</sup>&frasl;<sub>0.02</sub> = <sup>1</sup>&frasl;<sub>1</sub> ÷ 0.02 = <sup>1</sup>&frasl;<sub>1</sub> ÷ <sup>2</sup>&frasl;<sub>100</sub> = <sup>1</sup>&frasl;<sub>1</sub>  x <sup>100</sup>&frasl;<sub>2</sub> = <sup>100</sup>&frasl;<sub>2</sub> = 50
   <br>
   (b) Reciprocal of 4<sup>1</sup>&frasl;<sub>2</sub> = <sup>1</sup>&frasl;<sub><sup>9</sup>&frasl;<sub>2</sub></sub> = <sup>1</sup>&frasl;<sub>1</sub> ÷  <sup>9</sup>&frasl;<sub>2</sub> = <sup>1</sup>&frasl;<sub>1</sub> x <sup>2</sup>&frasl;<sub>9</sub> = <sup>2</sup>&frasl;<sub>9</sub> = 0.2222
   <div class="d-flex justify-content-center mt-3">
   <h3 class='text-dark justify-content-center'> Ratio </h3>
   </div>
   <strong>Ratio</strong> is the comparison between quantities of the same kind. Ratio does not have units. The symbol of ratio is <strong>(:).</strong> 
   <strong>Ratio is often use for sharing.</strong>
   <br>
   <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
   <br>
   If Michael has $20 and Paul has $8. What is the ratio of Michael’s money to Paul’s money?
   <br>
   <strong>Solution</strong>
   <br>
   Michael :  Paul
   <br>
   20      :     8
   <br>
   <sup>20</sup>&frasl;<sub>4</sub>     :    <sup>8</sup>&frasl;<sub>4</sub>  
   <br>
   Ratio = <b>5</b>       :      <b> 2 </b>
   <br>
  <strong>Example 3</strong>
  <br>
  Three friends A, B, and C want to share $ 180 in the ratio of 5:4:3 respectively. How much does each gets?
  <br>
  <strong>Solution</strong>
  <br>
  Total ratio = 5+4+3 = 12
  <br>
  A = <sup>5</sup>&frasl;<sub>12</sub> x 180 = <sup>900</sup>&frasl;<sub>2</sub> = $75
  <br>
  B = <sup>4</sup>&frasl;<sub>12</sub>  x 180 =  <sup>720</sup>&frasl;<sub>12</sub> = $60
  <br>
  C = 180 – 75 + 60 = 180 – 135 = <strong>$45</strong>
  <br>
  OR
  <br>
  C = <sup>3</sup>&frasl;<sub>12</sub> X 180 = <sup>540</sup>&frasl;<sub>12</sub>  = <strong>$45</strong>
  </div>
    <div class="col">
    <strong>Example 2</strong>
    <br>
    Ronaldo is 12 years old and Messi is 8 years old. They are to share 15 balls in the ratio of their ages. How many balls does one get?
    <br>
    <strong>Solution</strong>
    <br>
    <strong>Ronaldo : Messi</strong>
    <br>
    12      :      8
    <br>
    <sup>12</sup>&frasl;<sub>4</sub>   :      <sup>8</sup>&frasl;<sub>4</sub>
    <br>
     Ratio = <strong>3       :     2</strong>
    <br>
    <strong>Total ratio</strong> = 3 + 2 = 5
    <br>
    Ronaldo’s share = <sup>3</sup>&frasl;<sub>5</sub> x 15 = <sup>3</sup>&frasl;<sub>1</sub> x 3 = <strong>9 balls.</strong>
    <br>
    Messi’s share = 15 – 9 = <strong>6 balls</strong>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'> Ratios and Percentages </h3>
  </div>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
    <br>
    Express 4.2kg as a percentage of 8.0kg
    <br>
    <strong>Solution</strong>
    <br>
    <sup>4.2</sup>&frasl;<sub>8.0</sub> = <sup>(4.2 x 10)</sup>&frasl;<sub>(8.0 x 10)</sub>  = <sup>42</sup>&frasl;<sub>80</sub> 
    <br>
    As percentage = <sup>42</sup>&frasl;<sub>80</sub>  x 100% = <sup>42</sup>&frasl;<sub>4</sub>  x 5% = <sup>210</sup>&frasl;<sub>4</sub> 
    = <strong> 52.5% </strong>
    </div>
    <div class="col">
    <strong>Example 2</strong>
    <br>
    Find 25% of 3.2km
    <br>
    <strong>Solution</strong>
    <br>
    1km = 1000m
    <br>
    <sup>25</sup>&frasl;<sub>100</sub>  x 3.2 = <sup>80</sup>&frasl;<sub>100</sub>  = 0.8km  = <strong>800m</strong>
    </div>
  </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <br>
    <strong>Example 3</strong>
    <br>
     $975 is 65% of a sum of money. Calculate the sum of money.
     <br>
     <strong>Solution</strong>
     <br>
     <strong>Let the sum of money = x </strong>
     <br>
     65% of x = $975
     <br>
     100% of x = <sup>100</sup>&frasl;<sub>65</sub>  x 975 = <sup>97500</sup>&frasl;<sub>65</sub>  = $1500
     <br>
     The sum of money = <strong>$1500</strong>
     </div>
    <div class="col">
    <br>
    <strong>Example 4</strong>
    <br>
    A school has 600 students. 40% are boys. How many girls are in the school and what is the ratio of boys to girls?
    <br>
    <strong>Solution</strong>
    <br>
    Total Students = 600
    <br>
    Number of boys = 600 X <sup>40</sup>&frasl;<sub>100</sub>  = 60 x 4 = <strong> 240 boys </strong>
    <br>
    The numbers of girls = 600 – 240 = <strong>360 girls</strong>
    <br>
    <strong>The ratio of boys to girls = 240: 360 </strong>
    <br>
    =  24 : 36
    <br>
    =   <sup>24</sup>&frasl;<sub>12</sub>   :  <sup>36</sup>&frasl;<sub>12</sub> 
    <br>
    <strong> Boys : Girls </strong>=   2    :  3
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
  <h3 class='text-dark justify-content-center'> Rate </h3>
  </div>
  <strong>Rate</strong> is comparison between quantities of different kinds. 
  It is also important to find the rate of one unit to easily 
  find the rate of other quantities (<strong>Unitary method</strong>).
  <br>
  <div class="container">
  <div class="row">
    <div class="col border-right border-danger">
    <strong>Example 1</strong>
    <br>
    A car moves 180km in 3hours. What is its rate in km/h?
    <br>
    <strong>Solution</strong> 
    <br>
    It covers 180km in 3hours;
    <br>
    In 1 hour, it moves <sup>180</sup>&frasl;<sub>3</sub> = 60km
    <br>
    The rate = 60km/h
    <br>
    <strong>Example 2</strong>
    <br> 
  Stephen’s house rent is $1140 per year. What is his monthly payment rate?
  <br>
  <strong>1 year = 12 months </strong>
  <br>
  Monthly payment rate = <sup>1140</sup>&frasl;<sub>12</sub> = <strong>$95/month</strong>
  <br>
    </div>
    <div class="col">
    <strong>Example 3 </strong>
    <br>
    A man gets $120 for 5 hours’ work. What is his rate of pay per hour?
    <br>
    <strong>Solution </strong>
    In 5 hours, he gets = $120
    <br>
    In 1 hour, he gets = <sup>120</sup>&frasl;<sub>5</sub> = <b>$24</b>
    <br>
    His rate of pay = <strong>$24/hour</strong>
    </div>
  </div>
  </div>
</article>
<hr>
<div class="d-flex justify-content-start text-primary">
<h5>Test your <strong class='text-secondary'>Proportion, Reciprocal, Ratio and Rate</strong> knowledge with these Objective Questions.</h5>
</div>

<article>
<div class='obj-cont' >
  <h6>1.	A bucket has water to last 15 students for 3 days. How long would it last 9 students?></h6>
 <div id='block-11' >
    <label for='option-11' style=' padding: 5px;'>
      <input type='radio' name='option' value='12' id='option-11' style='transform: scale(1.2)'  />
      12</label>
    <span id='result-11'></span>
  </div>
 

  <div id='block-12'>
    <label for='option-12' style='padding: 5px;'>
      <input type='radio' name='option' value='5' id='option-12' style='transform: scale(1.2)' />
    5<label>
    <span id='result-12'></span>
  </div>
  

  <div id='block-13'>
    <label for='option-13' style='padding: 5px;'>
      <input type='radio' name='option' value='45' id='option-13' style='transform: scale(1.2)' />
      45</label>
    <span id='result-13'></span>
  </div>
  

  <div id='block-14'>
    <label for='option-14' style=' padding: 5px;'>
      <input type='radio' name='option' value='25' id='option-14' style='transform: scale(1.2)' />
      25</label>
    <span id='result-14'></span>
  </div>
 
  <button type='button' class = "c-btn" onclick='displayAnswer1()'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer1() {
    if (document.getElementById('option-11').checked) {
      document.getElementById('block-11').style.border = '3px solid red'
      document.getElementById('result-11').style.color = 'red'
      document.getElementById('result-11').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-12').checked) {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-13').checked) {
      document.getElementById('block-13').style.border = '3px solid red'
      document.getElementById('result-13').style.color = 'red'
      document.getElementById('result-13').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
    if (document.getElementById('option-14').checked) {
      document.getElementById('block-14').style.border = '3px solid red'
      document.getElementById('result-14').style.color = 'red'
      document.getElementById('result-14').innerHTML = 'Incorrect!'
      showCorrectAnswer1()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer1() {
    let showAnswer1 = document.createElement('p')
    showAnswer1.innerHTML = 'Show Corrent Answer'
    showAnswer1.style.position = 'relative'
    showAnswer1.style.top = '-150px'
    showAnswer1.style.fontSize = '1.5rem'
    document.getElementById('showanswer1').appendChild(showAnswer1)
    showAnswer1.addEventListener('click', () => {
      document.getElementById('block-12').style.border = '3px solid limegreen'
      document.getElementById('result-12').style.color = 'limegreen'
      document.getElementById('result-12').innerHTML = 'Correct!'
      document.getElementById('showanswer1').removeChild(showAnswer1)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>2.	Henry and Smith are to share 60 eggs in the ratio 3 : 1. How many eggs will Henry get?</h6>
 <div id='block-21' >
    <label for='option-21' style=' padding: 5px;'>
      <input type='radio' name='option1' value='15' id='option-21' style='transform: scale(1.2)'  />
      15</label>
    <span id='result-21'></span>
  </div>
 

  <div id='block-22'>
    <label for='option-22' style='padding: 5px;'>
      <input type='radio' name='option1' value='25' id='option-22' style='transform: scale(1.2)' />
     25</label>
    <span id='result-22'></span>
  </div>
  

  <div id='block-23'>
    <label for='option-23' style='padding: 5px;'>
      <input type='radio' name='option1' value='45' id='option-23' style='transform: scale(1.2)' />
      45</label>
    <span id='result-23'></span>
  </div>
  

  <div id='block-24'>
    <label for='option-24' style=' padding: 5px;'>
      <input type='radio' name='option1' value='35' id='option-24' style='transform: scale(1.2)' />
      35</label>
    <span id='result-24'></span>
  </div>
 
  <button type='button' onclick='displayAnswer2()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer2() {
    if (document.getElementById('option-21').checked) {
      document.getElementById('block-21').style.border = '3px solid red'
      document.getElementById('result-21').style.color = 'red'
      document.getElementById('result-21').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-22').checked) {
      document.getElementById('block-22').style.border = '3px solid red'
      document.getElementById('result-22').style.color = 'red'
      document.getElementById('result-22').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-23').checked) {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-23').innerHTML = 'Correct!'
      showCorrectAnswer2()
    }
    if (document.getElementById('option-24').checked) {
      document.getElementById('block-24').style.border = '3px solid red'
      document.getElementById('result-24').style.color = 'red'
      document.getElementById('result-24').innerHTML = 'Incorrect!'
      showCorrectAnswer2()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer2() {
    let showAnswer2 = document.createElement('p')
    showAnswer2.innerHTML = 'Show Corrent Answer'
    showAnswer2.style.position = 'relative'
    showAnswer2.style.top = '-150px'
    showAnswer2.style.fontSize = '1.5rem'
    document.getElementById('showanswer2').appendChild(showAnswer2)
    showAnswer2.addEventListener('click', () => {
      document.getElementById('block-23').style.border = '3px solid limegreen'
      document.getElementById('result-23').style.color = 'limegreen'
      document.getElementById('result-2').innerHTML = 'Correct!'
      document.getElementById('showanswer2').removeChild(showAnswer2)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>3.	What is the Product of <sup>7</sup>&frasl;<sub>10</sub> and its reciprocal?</h6>
 <div id='block-31' >
    <label for='option-31' style=' padding: 5px;'>
      <input type='radio' name='option2' value='<sup>7</sup>&frasl;<sub>10</sub>' id='option-31' style='transform: scale(1.2)'  />
      <sup>7</sup>&frasl;<sub>10</sub></label>
    <span id='result-31'></span>
  </div>
 

  <div id='block-32'>
    <label for='option-32' style='padding: 5px;'>
      <input type='radio' name='option2' value='<sup>10</sup>&frasl;<sub>7</sub>' id='option-32' style='transform: scale(1.2)' />
      <sup>10</sup>&frasl;<sub>7</sub></label>
    <span id='result-32'></span>
  </div>
  

  <div id='block-33'>
    <label for='option-33' style='padding: 5px;'>
      <input type='radio' name='option2' value='1' id='option-33' style='transform: scale(1.2)' />
      1</label>
    <span id='result-33'></span>
  </div>
  

  <div id='block-34'>
    <label for='option-34' style=' padding: 5px;'>
      <input type='radio' name='option2' value='<sup>1</sup>&frasl;<sub>10</sub>' id='option-34' style='transform: scale(1.2)' />
      <sup>1</sup>&frasl;<sub>10</sub></label>
    <span id='result-34'></span>
  </div>
 
  <button type='button' onclick='displayAnswer3()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer3() {
    if (document.getElementById('option-31').checked) {
      document.getElementById('block-31').style.border = '3px solid red'
      document.getElementById('result-31').style.color = 'red'
      document.getElementById('result-31').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-32').checked) {
      document.getElementById('block-32').style.border = '3px solid red'
      document.getElementById('result-32').style.color = 'red'
      document.getElementById('result-32').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-33').checked) {
      document.getElementById('block-33').style.border = '3px solid limegreen'
      document.getElementById('result-33').style.color = 'limegreen'
      document.getElementById('result-33').innerHTML = 'Correct!'
      showCorrectAnswer3()
    }
    if (document.getElementById('option-34').checked) {
      document.getElementById('block-34').style.border = '3px solid red'
      document.getElementById('result-34').style.color = 'red'
      document.getElementById('result-34').innerHTML = 'Incorrect!'
      showCorrectAnswer3()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer3() {
    let showAnswer3 = document.createElement('p')
    showAnswer3.innerHTML = 'Show Corrent Answer'
    showAnswer3.style.position = 'relative'
    showAnswer3.style.top = '-150px'
    showAnswer3.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer2)
    showAnswer3.addEventListener('click', () => {
      document.getElementById('block-33').style.border = '3px solid limegreen'
      document.getElementById('result-33').style.color = 'limegreen'
      document.getElementById('result-33').innerHTML = 'Correct!'
      document.getElementById('showanswer3').removeChild(showAnswer3)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>4. $56 is 20% of a sum. Find the sum.</h6>
 <div id='block-41' >
    <label for='option-41' style=' padding: 5px;'>
      <input type='radio' name='option3' value='$280' id='option-41' style='transform: scale(1.2)'  />
      $280</label>
    <span id='result-41'></span>
  </div>
 

  <div id='block-42'>
    <label for='option-42' style='padding: 5px;'>
      <input type='radio' name='option3' value='$300' id='option-42' style='transform: scale(1.2)' />
      $300</label>
    <span id='result-42'></span>
  </div>
  

  <div id='block-43'>
    <label for='option-43' style='padding: 5px;'>
      <input type='radio' name='option3' value='$1120' id='option-43' style='transform: scale(1.2)' />
      $1120</label>
    <span id='result-43'></span>
  </div>
  

  <div id='block-44'>
    <label for='option-44' style=' padding: 5px;'>
      <input type='radio' name='option3' value='$11.2' id='option-44' style='transform: scale(1.2)' />
      $11.2</label>
    <span id='result-44'></span>
  </div>
 
  <button type='button' onclick='displayAnswer4()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer4() {
    if (document.getElementById('option-41').checked) {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
    }
    if (document.getElementById('option-42').checked) {
      document.getElementById('block-42').style.border = '3px solid red' 
      document.getElementById('result-42').style.color = 'red'
      document.getElementById('result-42').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-43').checked) {
      document.getElementById('block-43').style.border = '3px solid red'
      document.getElementById('result-43').style.color = 'red'
      document.getElementById('result-43').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
    if (document.getElementById('option-44').checked) {
      document.getElementById('block-44').style.border = '3px solid red'
      document.getElementById('result-44').style.color = 're'
      document.getElementById('result-44').innerHTML = 'Incorrect!'
      showCorrectAnswer4()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer4() {
    let showAnswer4 = document.createElement('p')
    showAnswer4.innerHTML = 'Show Corrent Answer'
    showAnswer4.style.position = 'relative'
    showAnswer4.style.top = '-150px'
    showCorrectAnswer4.style.fontSize = '1.5rem'
    document.getElementById('showanswer3').appendChild(showAnswer4)
    showAnswer4.addEventListener('click', () => {
      document.getElementById('block-41').style.border = '3px solid limegreen'
      document.getElementById('result-41').style.color = 'limegreen'
      document.getElementById('result-41').innerHTML = 'Correct!'
      document.getElementById('showanswer4').removeChild(showAnswer4)
    })
  }
</script>
</article>
<hr>
<article>
<div class='obj-cont'>
  <h6>5. Messi scores 50 goals in 60 matches. Find his scoring rate in goals per match.</h6>
 <div id='block-51' >
    <label for='option-51' style=' padding: 5px;'>
      <input type='radio' name='option4' value='<sup>6</sup>&frasl;<sub>5</sub>' id='option-51' style='transform: scale(1.2)'  />
      <sup>6</sup>&frasl;<sub>5</sub></label>
    <span id='result-51'></span>
  </div>
 

  <div id='block-52'>
    <label for='option-52' style='padding: 5px;'>
      <input type='radio' name='option4' value='5' id='option-52' style='transform: scale(1.2)' />
      5</label>
    <span id='result-52'></span>
  </div>
  

  <div id='block-53'>
    <label for='option-53' style='padding: 5px;'>
      <input type='radio' name='option4' value='6' id='option-53' style='transform: scale(1.2)' />
      6</label>
    <span id='result-53'></span>
  </div>
  

  <div id='block-54'>
    <label for='option-54' style=' padding: 5px;'>
      <input type='radio' name='option4' value='<sup>5</sup>&frasl;<sub>6</sub>' id='option-54' style='transform: scale(1.2)' />
      <sup>5</sup>&frasl;<sub>6</sub></label>
    <span id='result-54'></span>
  </div>
 
  <button type='button' onclick='displayAnswer5()' class='c-btn'>Submit</button>
</div>

<script>
  //    The function evaluates the answer and displays result
  function displayAnswer5() {
    if (document.getElementById('option-51').checked) {
      document.getElementById('block-51').style.border = '3px solid red'
      document.getElementById('result-51').style.color = 'red'
      document.getElementById('result-51').innerHTML = 'Incorrect!'
    }
    if (document.getElementById('option-52').checked) {
      document.getElementById('block-52').style.border = '3px solid red'
      document.getElementById('result-52').style.color = 'red'
      document.getElementById('result-52').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-53').checked) {
      document.getElementById('block-53').style.border = '3px solid red'
      document.getElementById('result-53').style.color = 'red'
      document.getElementById('result-53').innerHTML = 'Incorrect!'
      showCorrectAnswer5()
    }
    if (document.getElementById('option-54').checked) {
      document.getElementById('block-54').style.border = '3px solid limegreen'
      document.getElementById('result-54').style.color = 'limegreen'
      document.getElementById('result-54').innerHTML = 'Correct!'
      showCorrectAnswer5()
    }
  }
  // the functon displays the link to the correct answer
  function showCorrectAnswer5() {
    let showAnswer5 = document.createElement('p')
    showAnswer5.innerHTML = 'Show Corrent Answer'
    showAnswer5.style.position = 'relative'
    showAnswer5.style.top = '-150px'
    showAnswer5.style.fontSize = '1.5rem'
    document.getElementById('showanswer5').appendChild(showAnswer5)
    showAnswer5.addEventListener('click', () => {
      document.getElementById('block-54').style.border = '3px solid limegreen'
      document.getElementById('result-54').style.color = 'limegreen'
      document.getElementById('result-54').innerHTML = 'Correct!'
      document.getElementById('showanswer5').removeChild(showAnswer5)
    })
  }
</script>
</article>
<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", page5_path, class:'h3' %>
  </button>
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", page7_path, class:'h3' %>
</button>
</nav>

</div>

<%= render 'layouts/footer' %>
</div>

<%= render 'mathematics/sidebar'%>
