<br>
<h1 class='ml-3 text-dark'> <b>ABOUT US </b> </h1>
<hr>
<h4 class='ml-3 text-dark'><b>FREE EDUCATION FOR ALL</b></h4>
<br>
<p class='ml-3 h5'><b>Learn-To-Success</b> is made to assist all students from Grade 7-12 to learn major concepts of different subjects very fast with in-depth understanding from anywhere in the world.</p>
<br>
<p class='ml-3 h5'>We respect your passion for learning various subjects, that's why we allow Learn-To-Success to be absolutely free for all students, we're always working hard for publishing the contents as standard as possible without compromising the quality.We equally do not write topics just for increasing the page views, at Learn-To-Success we focus on simplicity/easy learning, and once you start learning with us, soon you will realize that.</p>
<br>
<p class='ml-3 h5'>The cost of running and maintaining this website is covered by the revenue generated through advertisements, but we will always try to keep the number of ads as low as possible.</p>

<hr>
<h4 class='ml-3 text-dark'> <b>MAKE A DONATION</b> </h4>
<br>
<p class='ml-3 h5'>Your financial support means a lot to us. Your donations can help us to concentrate more on the development of the useful resources rather than finding a way to keep this site up and running. All donations will be used for the improvements of this website.</p>
<br>
<p class='ml-3 h5'>You can make donations to our PayPal account. Even a small donation can assist.</p>
<br>
<p class='ml-3 h5'>PayPal Email ID: @gmail.com</p>
<hr>
<h3 class='ml-3 text-dark'><b> Add a Link to Us </b></h3>
<br>
<p class='ml-3 h5'> If you find this website useful and you want others to discover it, please add a link to us.</p>
<br>
<h3 class='ml-3 text-dark'> <b>To add a simple text link</b> </h3>
<br>
<p class='ml-3 h5'>Insert the following HTML code on your site:</p>
<br>

<textarea rows="2" cols="40" class='ml-3 h5'>
  <a href="https://www.learn-to-success.com/">
  Learn-To-Success</a> - Free Online Learning.
</textarea>


<hr>
<nav class="nav nav-pills nav-fill">
<a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2 ml-3'>
<%= link_to "Next>>", product_path, class:'h3' %>
</button>
</nav>
<hr>

<%= render 'layouts/footer'%>