
<div class="d-flex align-items-center pl-3 pt-2 text-success">
Whether to request for teacher(s) for your kid(s), to give feedback or to apply for a teaching position, use the form below.
</div>
<div  class="ml-3 text-danger d-flex align-items-center " >
Note:The potential teacher(s) should attach the CV/Resume to the message.
</div>

<div class="row justify-content-md-center ml-3">
<h3>Contact-Form/Request-Form/feedback-Form</h3>
</div>

<div id="contact">
<%= render 'pages/contact_form' %>
</div>

