<br>
<h2 class='ml-3 text-dark'> <b>Frequently Asked Questions</b></h2>
<hr>
<p class='ml-3 h5'>
<b>We got various questions from our numerous readers. Here, we are answering few most important questions.</b>
</p>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <b class='h5'> What is Learn-To-Success is all about?</b>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <b class='h5'>Learn-To-Success is an outfit that cares about the success of all college students from Grade 7-12 anywhere in the world, helping them gain a quick in-depth understanding of numerous concepts in various subjects.</b>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <b class='h5'>Who started Learn-To-Success? When? Who owns it?</b>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      <b class='h5'>Learn-To-Success.com  is a dedicated website established by a team of seasoned professionals in various fields, excited to assist college students learn and become successful in numerous subjects on the website.</b>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <b class='h5'>Can we rely on your Learn-To-Success learning materials in terms of their quality?</b>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      <b class='h5'>We would like to say that it’s our utmost duty to provide quality learning materials free of charge. We are striving hard to maintain the quality of our materials and the concepts as high as possible. Our learning materials are being used by a lot of schools, students as well as teachers to teach their students.</b>
      </div>
    </div>
  </div>
<div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      <b class='h5'>Who writes the contents for Learn-To-Success?</b>
      </button>
    </h5>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
    <b class='h5'>The contents on this website are prepared by skilled professionals in various fields. Several freelancers assisted us in our effort to build a  database of quality learning materials. They contributed their best materials and concepts to our materials bank. We have established a formidable setup around the world.  We have a dedicated team of subject matters experts, technical writers, software developers who are taking the website to its next level of excellence.</b>
    </div>
  </div>
</div>
<div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <b class='h5'>Can we reuse/publish the content available on Learn-To-Success.com?</b>
      </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
     <b class='h5'> 
     No! We do not permit the use of our contents for republishing online or to be printed for commercial reason. But, you can use our contents within your Schools, Colleges, as long as it is only for internal purpose and keeping the appropriate references to Learn-To-Success website.
     </b>
      </div>
    </div>
  </div>

  <div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
     <b class='h5'> What is the mission/objective of Learn-To-Success?</b>
      </button>
    </h5>
  </div>
  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
    <div class="card-body">
     <b class='h5'>
     Our mission/objective is to deliver Easy Learning Concept with the best approach to a thorough understanding of various college subjects leading to excellent success for all students worldwide.
     </b>
    </div>
  </div>
</div>


<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        <b class='h5'>
        How can I contribute/work for the website?
        </b>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <b class='h5'>
        If you think you like to work/contribute, you are welcome. You can work with learn-to-success.com as a freelancer, as well as a permanent employee remotely. To know about openings, visit the link − Careers at Learn-To-Success.
       </b>
      </div>
    </div>
  </div>

  <div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
     <b class='h5'>
     How can I be of assistance to learn-to-success.com?
     </b>
      </button>
    </h5>
  </div>
  <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
    <div class="card-body">
      <b class='h5'>
      It will be a great help to us if you can point out any typing errors, spelling mistakes or grammatical errors used in any of the Learning material. Your contribution is highly valuable and it will certainly assist in bringing further improvement to our service.
      You can send your findings/suggestions to <span> <a href="mailto:adesoji2020@gmail.com" target = '_blank' > Our Contact. </a> </span> 
    </b>
    </div>
  </div>
</div>
</div>
<br>
<hr>
<h3 class='ml-3 text-dark'>
<b>Add a Link to Us</b>
</h3>

<h3 class='ml-3 text-dark'> <b>To add a simple text link</b> </h3>

<p class='ml-3 h5'>Insert the following HTML code on your site:</p>


<textarea rows="2" cols="40" class='ml-3 h5'>
  <a href="https://www.learn-to-success.com/">
  Learn-To-Success</a> - Free Online Learning.
</textarea>
<hr>

<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", term_path, class:'h3' %>
  </button>
  <a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2'>
<%= link_to "Next>>", contact_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer'%>