<br>
<h1 class='ml-3 text-dark'><b>Privacy Policy</b></h1>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>What We Collect</b></h3>
<br>
<p class='ml-3 h5'>Learn-To-Success may collect certain information about a visitor's computer that may be furnished by the visitor's browser, such as:</p>
<ul>
<li class='ml-3 h5'>IP Address</li>
<li class='ml-3 h5'>Page Accessed</li>
<li class='ml-3 h5'>Geographic Location</li>
<li class='ml-3 h5'>Browser Information</li>
<li class='ml-3 h5'>Time of Visit</li>
<li class='ml-3 h5'>Referring Site, Application, or Service</li>
</ul>
<br>
<p class='ml-3 h5'>
This information is used by us and/or our affiliates on an aggregate basis only to administer the site, analyze trends, and assess the levels of traffic to the site and the areas of the site users are accessing. We do not collect and evaluate this information for others.
</p>
<br>
<p class='ml-3 h5'>
The visitors/users are free to navigate through our website without providing any personally identifiable information if they do not want to register with us.
</p>
<br>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>Cookies & 3rd Party Advertisements</b></h3>
<br>
<p class='ml-3 h5'>
<b>Learn-To-Success</b> do not use cookies to collect or store personal information, but since we allow third-party companies to serve ads and/or collect certain anonymous information when you visit our web site. These companies may use non-personally identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) during your visits to this and other websites in order to provide advertisements about goods and services likely to be of greater interest to you.
</p>
<br>
<p class='ml-3 h5'>
What is a cookie? A 'cookie' is a small text file sent to your browser by the web server that enables your computer to access information on a particular website in a faster and more efficient manner.
You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can change the settings on your browser to refuse all cookies.
</p>
<br>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>External Links</b></h3>
<br>
<p class='ml-3 h5'>
Learn-To-Success may contain links to other sites. Since we do not have any control over these websites, we are not responsible for the protection and privacy of any information which you provide whilst using such websites.
</p> 
<br>   
<p class='ml-3 h5'>
The above privacy policy applies only to Learn-To-Success. We are encouraging you to review the privacy statements of each and every website that collects personally identifiable information.
</p>
<hr>
<h3 class='ml-3 text-dark'><b>Enquiries</b></h3>
<br>
<p class='ml-3 h5'>
If you have any questions or concerns about Learn-To-Success Privacy Statement, <span><%= link_to "please contact us.", contact_path, class:'h4' %></span> 
</p>

<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", product_path, class:'h3' %>
  </button>
  <a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2'>
<%= link_to "Next>>", term_path, class:'h3' %>
</button>
</nav>
<hr>
<%= render 'layouts/footer'%>