<h1 class='ml-3 text-dark'><b>Terms of Use</b></h1>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>Copyright</b></h3>
<br>
<p class='ml-3 h5'>The following terms and conditions govern the use of the Learn-To-Success website and all contents, features, and activities available at or through the Website.</p>
<ul>
<li class='ml-3 h5'>The contents on the pages of this website are the property of Learn-To-Success.</li>
<li class='ml-3 h5'>You agree not to reproduce, publish or circulate any such material in any way, shape, or form to any third party without the written permission of Learn-To-Success.</li>
<li class='ml-3 h5'>You are free to use the examples for personal or commercial projects. Fair usages like using the examples, blog posts or in books for reference purpose are also permitted. But you are not allowed to redistribute them online.</li>
</ul>
<p class='ml-3 h5'><b>Inability to comply may give rise to a claim for damages and/or be a criminal offence.</b></p>

<div class="container policy">
  <div class="row">
    <div class="col-sm h5">
    Note:If you are a Teacher, you are permitted to use our content to create study materials 
    for your students (or institution) for offline use while providing a link back to our website.
    </div>
    </div>
</div>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>Warranties</b></h3>
<br>
<p class='ml-3 h5'>Learn-To-Success disclaims all warranties with regard to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge and accept that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors.</p>
<br>
<p class='ml-3 h5'>If you find information that needs to be rectified, please inform us, so that we can make the necessary corrections. Use the link <span> <a href="mailto:adesoji2020@gmail.com" target = '_blank' >Error-Report</a> </span>to send your findings or feedback.</p>
<hr>
<br>
<h3 class='ml-3 text-dark'><b>Disclaimers</b></h3>
<br>
<p class='ml-3 h5'>All potential risks associated with the use of the content(s) on this site lies solely with the users. In no event Learn-To-Success or its employees be liable for any damages whatsoever (including direct, indirect or consequential) arising out of or in connection with the use or performance of the website.</p>
<br>
<p class='ml-3 h5'>It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</p>

<hr>
<nav class="nav nav-pills nav-fill">
<button class='ml-3'>
<%= link_to "Previous>>", policy_path, class:'h3' %>
  </button>
  <a class="nav-item nav-link" href="#"></a>
  <a class="nav-item nav-link" href="#"></a>
<button class='mr-2'>
<%= link_to "Next>>", faq_path, class:'h3' %>
</button>
</nav>
<hr>