<div class="navbar">
<ul class="nav nav-pills ml-3  h5 bg-dark">
<li class="nav-item ">
    <a class="nav-link text-white" href="#"><b>Mathematics</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#"><b>English</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#"><b>Economics</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#"><b>Agric-Science</b></a>
  </li>
</ul>
</div>
<hr>